@{
    ViewBag.Title = "Индивидуальная траектория студента";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3"><a href="http://urfu.ru"><img src="/Content/Images/logo1.png" /></a></div>
        <div class="col-md-9"><h2>Индивидуальная траектория студента</h2></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"> 
        <p>Университет переходит к реализации образовательных программ высшего образования (ОП),
            обеспечивающих возможность реализовать обучающимися выбранные ими образовательные траектории.</p>
        <p><b>Модуль "ИТС" позволяет создать варианты выбора для студента, а затем и сформировать его индивидуальную образовательную траекторию.</b></p>
        <ul>
            <li>Индивидуальная образовательная траектория - это персональный путь освоения ОП, который состоит из модулей ОП.</li>
            <li>Индивидуальная образовательная траектория представлена индивидуальным учебным планом обучающегося,
                состоящим из обязательных модулей (инвариантных), а также выбранных обучающимся из предложенного набора модулей.</li>
            <li>
                Индивидуальные учебные планы обучающихся являются результатом формирования образовательной траектории каждого из них,
                проектируются на основе заданных основной характеристикой ОП правил, представляют собой версию единого учебного плана ОП.</li>
        </ul>
    </div>
</div>