@model Urfu.Its.Frames.Controllers.Message
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список практик</title>
 
</head>
<body>
    <label>@Model.Text</label>
</body>
</html>